@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  display: flex;
  background-image: url(/images/background.jpg);
  background-color: rgba(0, 0, 0, 0.811);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Walter Turncoat", cursive;
  color: white;
  font-size: 24px
}

.row{
  text-align: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.answer {
  text-align: center;
}

.scoreboard {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 1.5rem;
  text-align: left;
}

#question {
  color: lightblue;
  font-size: 40px;
}

.answer {
  width: 250px;
}

.scoreContainer {
  color: lightblue;
}

.highScoreContainer {
  color: gold;
}

.numberLimit {
  color: rgb(141, 236, 18);
}